@font-face {
  font-family: circulation;
  src: url("../assets/fonts/circulon.ttf");
}

.abt_content {
  height: 50vh;
}

.abt_grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  padding: 10px;
}

.description_cont {
  width: 500px;
  color: #1e1e1e;
}

.description_cont > h2 > span {
  letter-spacing: -24.5px;
  color: #f6f6f600;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #1e1e1e;
}

.description_cont > h2,
.description_cont > h2 > span {
  font-size: 45px;
}

.contact_cont {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  color: #1e1e1e;
}

.contact_cont div p span:nth-child(2){
  font-weight: bold;
}

.contact_cont div p span:nth-child(2):hover{
  font-weight: lighter;
  cursor: pointer;
}

.contact_cont div p a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: bold;

}

.contact_cont div p a:hover{
    color: black;
    font-weight: lighter;
}