@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    font-family: 'Space Mono', monospace;
}

.container {
    height: 100%;
    margin: 0 25px;
}

 .center {
    display: flex;
    justify-content: center;
    align-items: center;
 }