.make-post > div > div {
    display: grid;
}

.guestName {
    width: 250px;
    height: 15px;
    padding: 10px;
    margin: 0px 5px 5px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: white;
    resize: none;
}

.text-input {
    width: 250px;
    height: 100px;
    padding: 10px;
    margin: 0px 5px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: white;
    resize: none;
}

.text-input:hover, .guestName:hover {
    background-color: black;
}

.button-container {
    position: relative;
}

.button-container Button {
    margin: 0 5px;
    position: relative;
    bottom: 0;
}