.wrapper {
    height: 100vh;
    width: 100%;
}

.login_content {
    max-width: 330px;
    width: 100%;
}

.logo {
    margin: 10px;
    padding: auto;
}

.logo img {
    width: 300px;
}

.password_input input {
    width: 100%;
    height: 4vh;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #f6f6f6;
}

.password_input input:focus{
    outline: none;
    font-weight: 700;
}

.password_input input:hover {
    background-color: black;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #1e1e1e inset;
    -webkit-text-fill-color: #f6f6f6
}

.password_input Button img {
    width: 30px;
    height: 30px;
}

.observer-container {
    margin: 10px 0 0 0 ;
}

.observer-container button {
    width: 100%;
}