.header-bar {
    height: auto;
    width: 100%;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_container img {
    margin: 10px;
    width: 100%;
    height: 100px;
}

.cont_back {
    position: absolute;
    left: 40px;
}

.cont_back Button{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.cont_back Button img {
    width: 30px;
    height: 30px;
}