.header_bar {
    height: auto;
    width: 100%;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_container img {
    margin: 10px;
    width: 100%;
    height: 100px;
}

.navbar {
    position: fixed;
    top: -100px;
    left:-100px;
}

.navbar > .c_c > .navbar_content > li{
    position: absolute;
    display: flex;
    padding: 3px;
    transition: .2s ease-in-out;
}

.navbar > .c_c > .navbar_content li:nth-child(1){
    right: 69px;
    bottom: 22px;
}

.navbar > .c_c > .navbar_content li:nth-child(2){
    right: 30px;
    bottom: 47px;
}

.navbar > .c_c > .navbar_content li:nth-child(3){
    right: 7px;
    bottom: 85px;
}

.navbar > .c_c > .navbar_content li:hover{
    transform: scale(1.3);
    filter: drop-shadow(0px 0px 5px rgba(0 0 0 / .4));
}

.navbar .c_c > .navbar_content > li > a, .navbar .c_c > .navbar_content > li > a > img{
    width: 35px;
    height: 35px;
}

.c_c{
    width: 210px;
    height: 210px;
    background: #f6f6f6;
    border: 4px #1e1e1e solid;
    border-radius: 50%;
    right: 0;
    bottom: 0;
}

.c_c::before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 145px;
    height: 145px;
    border: 5px #FFAFC7 solid;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px #74D7EC;
    background-color: #f6f6f6;
}

.navbar_content{
    position: relative;
    width: auto;
    height: 100%;
    list-style: none;
    margin-top: 15px;
}