.make-post {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.in_text_area{
    display: grid;
    grid-gap: 10px;
}

.text-input {
    width: 250px;
    height: 100px;
    padding: 10px;
    margin: 0px 5px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: white;
    resize: none;
}

.text-input:hover {
    background-color: black;
}

.cont_link{
    width: 250px;
    height: 15px;
    padding: 10px;
    margin: 0px 5px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: white;
    resize: none;
}

.button-container {
    position: relative;
    display: inline-grid;
    gap: 5px 0;
}

.button-container > div {
    display: inline-grid;
}

.button-container > div > Button {
    /* margin: 82px 0 0 0; */
    position: relative;
    bottom: 0;
    min-height: 10px;
}

#input_file label {
    min-width: 40px;
    /* min-height: 40px; */
    margin: 0 5px 5px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input_file label:hover {
    cursor: pointer;
    background-color: black;
}