.post-container {
    margin: 0 0 10px;
    width: 850px;
    border-bottom: 3px #1e1e1e solid;
    display: flex;
}

.post-container p {
    margin: 0 0 10px;
    color: #1e1e1e;
}

#under{
    width: 100%;
}

.img_container{
    min-width: 209px;
    height: 209px;
    margin: 0 10px 10px 0;
    background: #1e1e1e;
}

.info p {
    display: inline;
    margin: 0 10px 0 0;
}

.buttoncontainer {
    position: relative;
    height: 40px;
    margin: 0 0 5px 0;
}

.buttoncontainer button {
    position: absolute;
    right: 0;
}

.buttoncontainer button img{
    width: 25px;
    height: 25px;
}