.post-container {
    margin: 0 0 10px;
    border-bottom: 1px whitesmoke solid;
}

.post-container p {
    margin: 0 0 10px;
    color: white;
}

.info p {
    display: inline;
    margin: 0 10px 0 0;
}

.buttoncontainer {
    position: relative;
    height: 40px;
    margin: 0 0 5px 0;
}

.buttoncontainer button {
    position: absolute;
    right: 0;
}

.buttoncontainer button img{
    width: 25px;
    height: 25px;
}